In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#import category_encoders as ce 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import recall_score, precision_score, accuracy_score, plot_confusion_matrix, classification_report, f1_score

In [5]:
data = pd.read_csv("car_evaluation.csv")
data.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [6]:
col_names = ['buying','maint','doors','persons','lug_boot','safety','class']
data.columns = col_names
data.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc
4  vhigh  vhigh     2       2      med   high  unacc

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   object
 1   maint     1727 non-null   object
 2   doors     1727 non-null   object
 3   persons   1727 non-null   object
 4   lug_boot  1727 non-null   object
 5   safety    1727 non-null   object
 6   class     1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [9]:
data.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

In [10]:
data.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
class       object
dtype: object

In [20]:
data.corr()

            buying     maint     doors   persons  lug_boot    safety     class
buying    1.000000 -0.001043 -0.001043 -0.000952 -0.000952  0.000952  0.286273
maint    -0.001043  1.000000 -0.001043 -0.000952 -0.000952  0.000952  0.254378
doors    -0.001043 -0.001043  1.000000 -0.000952 -0.000952  0.000952  0.056075
persons  -0.000952 -0.000952 -0.000952  1.000000 -0.000869  0.000869  0.336622
lug_boot -0.000952 -0.000952 -0.000952 -0.000869  1.000000  0.000869  0.121120
safety    0.000952  0.000952  0.000952  0.000869  0.000869  1.000000 -0.281560
class     0.286273  0.254378  0.056075  0.336622  0.121120 -0.281560  1.000000

In [11]:
#encoding object variables
encoder = ce.OrdinalEncoder(cols = ['buying','maint','doors','persons','lug_boot','safety','class'])
data = encoder.fit_transform(data)
data.head()

NameError: name 'ce' is not defined

In [12]:
!pip install --upgrade category_encoders

Collecting category_encoders
  Downloading category_encoders-2.4.1-py2.py3-none-any.whl (80 kB)
Requirement already satisfied: scipy>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from category_encoders) (1.6.2)
Requirement already satisfied: pandas>=0.21.1 in c:\programdata\anaconda3\lib\site-packages (from category_encoders) (1.2.4)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\programdata\anaconda3\lib\site-packages (from category_encoders) (0.24.1)
Requirement already satisfied: statsmodels>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from category_encoders) (0.12.2)
Requirement already satisfied: numpy>=1.14.0 in c:\programdata\anaconda3\lib\site-packages (from category_encoders) (1.20.1)
Requirement already satisfied: patsy>=0.5.1 in c:\programdata\anaconda3\lib\site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: six in c:\users\meghana_ayyala\appdata\roaming\python\python38\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.4.1

In [14]:
#encoding object variables
import category_encoders as ce 
encoder = ce.OrdinalEncoder(cols = ['buying','maint','doors','persons','lug_boot','safety','class'])
data = encoder.fit_transform(data)
data.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       1      1      1        1         1       1      1
1       1      1      1        1         1       2      1
2       1      1      1        1         2       3      1
3       1      1      1        1         2       1      1
4       1      1      1        1         2       2      1

In [102]:
data.to_csv('CarEvaluation.csv')

In [89]:
#class is dependent variable
#splitting data to train
x = data.drop(['class'], axis = 1)
y = data['class']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)

In [90]:
x.shape

(1727, 6)

In [91]:
y.shape

(1727,)

In [92]:
randomforest=RandomForestClassifier(n_estimators=100,random_state=101)
randomforest.fit(x_train,y_train)

RandomForestClassifier(random_state=101)

In [93]:
y_prediction =  randomforest.predict(x_test)

In [94]:
ascore=accuracy_score(y_test,y_prediction)

In [95]:
ascore

0.9710982658959537

In [96]:
x_test

      buying  maint  doors  persons  lug_boot  safety
599        2      2      3        1         3       3
932        3      1      3        2         3       3
628        2      2      4        1         3       2
1497       4      2      4        2         2       1
1262       3      4      3        3         2       3
...      ...    ...    ...      ...       ...     ...
490        2      1      3        1         2       2
1276       3      4      4        1         3       2
287        1      3      3        3         1       3
701        2      3      3        1         1       3
1713       4      4      4        2         2       1

[519 rows x 6 columns]

In [32]:
x.buying.max()

4

In [33]:
x.maint.max()

4

In [34]:
x.doors.max()

4

In [35]:
x.persons.max()

3

In [37]:
x.lug_boot.max()

3

In [38]:
x.safety.max()

3

In [39]:
x.safety.min()

1

In [40]:
x.lug_boot.min()

1

In [41]:
x.persons.min()

1

In [43]:
x.maint.min()

1

In [44]:
x.buying.min()

1

In [103]:
"""""

https://archive.ics.uci.edu/ml/datasets/car+evaluation
Input Variable:

Buying price (vhigh, high, med, low)
Buying price (1, 2, 3, 4)
Price of the maintenance (vhigh, high, med, low)
Price of the maintenance (1, 2, 3, 4)
Number of doors (2, 3, 4, 5more)
Number of doors (1, 2, 3, 4)
Persons capacity in terms of persons to carry (2, 4, more)
Persons capacity in terms of persons to carry (1, 2, 3)
Size of luggage boot (small, med, big)
Size of luggage boot (1,2,3)
Estimated safety of the car (low, med, high)
Estimated safety of the car (1, 2, 3)
Output Variable:

Car acceptability (unacc, acc, good, vgood)
Car acceptability (1, 2, 3, 4)
"""""

'""\n\nhttps://archive.ics.uci.edu/ml/datasets/car+evaluation\nInput Variable:\n\nBuying price (vhigh, high, med, low)\nBuying price (1, 2, 3, 4)\nPrice of the maintenance (vhigh, high, med, low)\nPrice of the maintenance (1, 2, 3, 4)\nNumber of doors (2, 3, 4, 5more)\nNumber of doors (1, 2, 3, 4)\nPersons capacity in terms of persons to carry (2, 4, more)\nPersons capacity in terms of persons to carry (1, 2, 3)\nSize of luggage boot (small, med, big)\nSize of luggage boot (1,2,3)\nEstimated safety of the car (low, med, high)\nEstimated safety of the car (1, 2, 3)\nOutput Variable:\n\nCar acceptability (unacc, acc, good, vgood)\nCar acceptability (1, 2, 3, 4)\n'

In [50]:
x

      buying  maint  doors  persons  lug_boot  safety
0          1      1      1        1         1       1
1          1      1      1        1         1       2
2          1      1      1        1         2       3
3          1      1      1        1         2       1
4          1      1      1        1         2       2
...      ...    ...    ...      ...       ...     ...
1722       4      4      4        3         2       1
1723       4      4      4        3         2       2
1724       4      4      4        3         3       3
1725       4      4      4        3         3       1
1726       4      4      4        3         3       2

[1727 rows x 6 columns]

In [83]:
#x_test=np.array([[4,4,4,3,3,3]])

In [82]:
#y_prediction =  randomforest.predict(x_test)

In [81]:
#y_prediction

In [99]:
sample=pd.DataFrame({"Actual class":y_test,
             "Predicted class":y_prediction})

In [98]:
sample

      Actual mpg  Predicted mpg
599            1              1
932            1              1
628            1              1
1497           2              2
1262           1              1
...          ...            ...
490            1              1
1276           1              1
287            1              1
701            1              1
1713           4              4

[519 rows x 2 columns]