In [3]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [4]:
df=pd.read_csv("mlcar.csv")

In [5]:
df.head()

   cylinders  displacement  horsepower  weight  mpg
0          8           307         130    3504   18
1          8           350         165    3693   15
2          8           318         150    3436   18
3          8           304         150    3433   16
4          8           302         140    3449   17

In [6]:
x=df.drop('mpg',axis=1)

In [7]:
y=df['mpg']

In [8]:
df.corr()

              cylinders  displacement  horsepower    weight       mpg
cylinders      1.000000      0.950722    0.841842  0.896017 -0.774601
displacement   0.950722      1.000000    0.896336  0.932822 -0.803371
horsepower     0.841842      0.896336    1.000000  0.863053 -0.772810
weight         0.896017      0.932822    0.863053  1.000000 -0.830954
mpg           -0.774601     -0.803371   -0.772810 -0.830954  1.000000

In [9]:
y

0      18
1      15
2      18
3      16
4      17
       ..
393    27
394    44
395    32
396    28
397    31
Name: mpg, Length: 398, dtype: int64

In [10]:
x

     cylinders  displacement  horsepower  weight
0            8           307         130    3504
1            8           350         165    3693
2            8           318         150    3436
3            8           304         150    3433
4            8           302         140    3449
..         ...           ...         ...     ...
393          4           140          86    2790
394          4            97          52    2130
395          4           135          84    2295
396          4           120          79    2625
397          4           119          82    2720

[398 rows x 4 columns]

In [11]:
from sklearn.model_selection import train_test_split
# splitting the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 101)

In [12]:
from sklearn.ensemble import RandomForestRegressor
randomforest=RandomForestRegressor(n_estimators=100,random_state=101)
randomforest.fit(x_train,y_train)

RandomForestRegressor(random_state=101)

In [14]:
y_prediction =  randomforest.predict(x_test)
y_prediction

array([25.52 , 19.81 , 37.32 , 12.36 , 13.63 , 24.72 , 27.97 , 24.57 ,
       30.37 , 27.25 , 20.82 , 22.69 , 31.62 , 33.76 , 13.79 , 16.39 ,
       20.05 , 18.12 , 24.12 , 25.96 , 13.18 , 19.05 , 32.61 , 16.63 ,
       14.74 , 34.16 , 26.11 , 28.52 , 20.57 , 11.88 , 18.13 , 33.28 ,
       25.49 , 27.43 , 20.8  , 14.55 , 30.35 , 31.35 , 16.21 , 24.05 ,
       31.27 , 16.41 , 32.17 , 16.09 , 20.84 , 18.61 , 29.19 , 22.51 ,
       15.45 , 32.05 , 22.97 , 19.52 , 19.09 , 26.58 , 18.38 , 23.63 ,
       33.05 , 33.682, 17.31 , 33.85 , 24.96 , 34.28 , 35.297, 16.82 ,
       18.36 , 19.82 , 33.8  , 32.274, 13.1  , 14.56 , 21.62 , 27.07 ,
       22.2  , 24.62 , 15.38 , 13.09 , 26.97 , 14.03 , 23.41 , 18.04 ,
       25.49 , 19.56 , 24.21 , 24.73 , 18.65 , 34.767, 32.23 , 20.35 ,
       16.55 , 13.09 , 27.83 , 26.86 , 22.97 , 38.76 , 23.59 , 14.75 ,
       13.42 , 12.12 , 20.96 , 13.81 , 33.27 , 17.08 , 33.23 , 36.021,
       19.44 , 35.97 , 22.99 , 33.27 , 20.39 , 13.28 , 24.63 , 13.64 ,
       31.564, 15.32 , 17.41 , 25.95 , 32.25 , 31.09 , 28.62 , 13.38 ])

In [16]:
from sklearn.metrics import mean_squared_error,r2_score
forest_score=r2_score(y_test,y_prediction)
print(forest_score)

0.8053632050586288

In [17]:
#cylinder displacement horsepower weight
#8	302.0	140	3449
x_test=np.array([[8,302,140,3449]])
#x_test
y_prediction =  randomforest.predict(x_test)

In [18]:
y_prediction

array([18.38])