In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [85]:
df=pd.read_csv("auto_mpg_dataset.csv")

In [86]:
df.head()

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name,mpg
0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,18.0
1,8,350.0,165,3693,11.5,70,1,buick skylark 320,15.0
2,8,318.0,150,3436,11.0,70,1,plymouth satellite,18.0
3,8,304.0,150,3433,12.0,70,1,amc rebel sst,16.0
4,8,302.0,140,3449,10.5,70,1,ford torino,17.0

In [87]:
df.corr()

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,mpg
cylinders,1.000000,0.950823,0.842983,0.897527,-0.504683,-0.345647,-0.568932,-0.777618
displacement,0.950823,1.000000,0.897257,0.932994,-0.543800,-0.369855,-0.614535,-0.805127
horsepower,0.842983,0.897257,1.000000,0.864538,-0.689196,-0.416361,-0.455171,-0.778427
weight,0.897527,0.932994,0.864538,1.000000,-0.416839,-0.309120,-0.585005,-0.832244
acceleration,-0.504683,-0.543800,-0.689196,-0.416839,1.000000,0.290316,0.212746,0.423329
model_year,-0.345647,-0.369855,-0.416361,-0.309120,0.290316,1.000000,0.181528,0.580541
origin,-0.568932,-0.614535,-0.455171,-0.585005,0.212746,0.181528,1.000000,0.565209
mpg,-0.777618,-0.805127,-0.778427,-0.832244,0.423329,0.580541,0.565209,1.000000

In [233]:
x=df.drop(['mpg','model_year','car_name','acceleration','origin'],axis=1)

In [234]:
#x=df.drop('car_name',axis=1)

In [235]:
#x=df.drop('origin',axis=1)

In [236]:
#=df['cylinders','displacement','horsepower','weight','acceleration']

In [237]:
y=df['mpg']

In [238]:
x

     cylinders  displacement  horsepower  weight
0            8         307.0         130    3504
1            8         350.0         165    3693
2            8         318.0         150    3436
3            8         304.0         150    3433
4            8         302.0         140    3449
..         ...           ...         ...     ...
387          4         140.0          86    2790
388          4          97.0          52    2130
389          4         135.0          84    2295
390          4         120.0          79    2625
391          4         119.0          82    2720

[392 rows x 4 columns]

In [239]:
y

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
387    27.0
388    44.0
389    32.0
390    28.0
391    31.0
Name: mpg, Length: 392, dtype: float64

In [240]:
x.shape

(392, 4)

In [241]:
y.shape

(392,)

In [214]:
#from sklearn.model_selection import train_test_split
# splitting the data
#x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.4, random_state = 101)

In [242]:
x_train=x
y_train=y
#x_test=np.array([[]])
from sklearn.linear_model import LinearRegression
# creating an object of LinearRegression class
LR = LinearRegression()
# fitting the training data
LR.fit(x_train,y_train)

LinearRegression()

In [243]:

x_test=np.array([[2,624,37.408,660]])
y_prediction =  LR.predict(x_test)

In [244]:
from sklearn.metrics import mean_squared_error,r2_score
mse_linreg=mean_squared_error(y_test,y_prediction)

print(np.sqrt(mse_linreg))

ValueError: Found input variables with inconsistent numbers of samples: [157, 1]

In [218]:
lin_score=r2_score(y_test,y_prediction)*100
print(lin_score)

71.89482760586543

In [219]:
from sklearn.ensemble import RandomForestRegressor
randomforest=RandomForestRegressor(n_estimators=100,random_state=101)
randomforest.fit(x_train,y_train)

RandomForestRegressor(random_state=101)

In [220]:
P_forest=randomforest.predict(x_test)

In [221]:
forest_score=r2_score(y_test,P_forest)*100
print(forest_score)

81.33567332910114

In [222]:
#https://github.com/Munees11/Auto-MPG-prediction/blob/master/Scripts/Auto%20MPG%20Predictions.ipynb

sample=pd.DataFrame({"Actual mpg":y_test,
             "Predicted mpg":P_forest})

#####

In [223]:
sample

     Actual mpg  Predicted mpg
38         14.0         12.830
283        17.0         17.254
162        21.0         20.462
218        33.5         33.730
161        18.0         18.785
..          ...            ...
312        26.4         23.194
188        14.5         14.705
321        27.9         22.371
323        44.3         39.664
20         25.0         27.716

[157 rows x 2 columns]

In [224]:
from sklearn.linear_model import Lasso
lass=Lasso()
lass.fit(x_train,y_train)

Lasso()

In [225]:
P_lasso=lass.predict(x_test)

In [226]:
lasso_score=r2_score(y_test,P_lasso)*100
print(lasso_score)

71.36693615286869

In [227]:
from sklearn.linear_model import Ridge
ridge=Ridge()
ridge.fit(x_train,y_train)

Ridge()

In [228]:
P_ridge=ridge.predict(x_test)

In [229]:
ridge_score=r2_score(y_test,P_ridge)*100
print(ridge_score)

71.91237087872857

In [230]:
from sklearn.linear_model import ElasticNet
elastic=ElasticNet()
elastic.fit(x_train,y_train)

ElasticNet()

In [231]:
P_elastic=elastic.predict(x_test)

In [232]:

elastic_score=r2_score(y_test,P_elastic)*100
print(elastic_score)

71.5742340922763